@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::before, *::after {
  font-family: 'Open Sans', sans-serif !important;
}


// Header

#header {
  padding: .5em 2em;
  height: auto;
}

.header-wrapper .title {
  font-size: 18px;
  text-transform: capitalize;
  pointer-events: none;
}

.header-wrapper .header-right-wrap .nav .nav-item a {
  font-size: 16px;
}

header * {
  color: #333538 !important;
}

.suggestions * {
  font-size: .9rem !important;
}

// Post
.vuepress-blog-theme-content {
  box-shadow: none !important;
}

// Post tag
.post-meta {
  display: flex;
  align-items: center;
}

.post-meta-date {
  align-items: center;
  margin-right: 40px !important;
}

.post-meta-tags li.post-tag {
  height: auto;
  font-size: 12px;
  margin: 0;
  padding: 3px 1em 3px 6px;
  
  &::before {
    display: none;
  }
}

.content__default code {
  font-size: 1em;
}

tr:nth-child(2n) {
    background-color: transparent;
}

#disqus_thread {
  margin-top: 10em;
}

// Footer

footer .copyright-item {
  font-weight 600;
  font-size .9em !important
  color #aaa !important
}