@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

*, *::before, *::after {
  font-family: Roboto Slab,serif !important;
}


// Header

#header {
  padding: .5em 2em;
  height: auto;
}

.header-wrapper .title {
  font-size: 18px;
  text-transform: capitalize;
}

.header-wrapper .header-right-wrap .nav .nav-item a {
  font-size: 16px;
}

header * {
  color: #333538 !important;
}

.suggestions * {
  font-size: .9rem !important;
}

.nav-item:last-child {
  display: flex;
  align-items: center;

  &::after {
    content: '';
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-left: .2em;
    background-image: url(/blog/assets/open_in_new-24px.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

// Post
.vuepress-blog-theme-content {
  box-shadow: none !important;
}

// Post tag
.post-meta {
  display: flex;
  align-items: center;
}

.post-meta-date {
  align-items: center;
  margin-right: 40px !important;
}

.post-meta-tags li.post-tag {
  height: auto;
  font-size: 12px;
  margin: 0;
  padding: 3px 1em 3px 6px;
  
  &::before {
    display: none;
  }
}

.content__default code {
  font-size: 1em;
}

tr:nth-child(2n) {
    background-color: transparent;
}

#disqus_thread {
  margin-top: 10em;
}
