@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::before, *::after {
  font-family: 'Open Sans', sans-serif !important;
}


// Header

#header {
  padding: .5em 2em;
  height: auto;
}

.header-wrapper .title {
  font-size: 18px;
  text-transform: capitalize;
  pointer-events: none
}

.header-wrapper .header-right-wrap .nav .nav-item a {
  font-size: 16px;
}

.search-box input {
  color $bgColor
}

.suggestions * {
  font-size: .9rem !important;
  color $bgColor !important
}

// List

.ui-post-tag a {
  margin-right 1.5em !important
}

// Post
.vuepress-blog-theme-content {
  box-shadow: none !important;
}

.content__default code {
  font-size: 1em;
  background #111
  border-radius .4em
}

tr:nth-child(2n) {
  background-color: transparent;  // Remove default table straps
}

blockquote {
  color $accentColor
  font-size 1.5em
  font-style: italic
}

#disqus_thread {
  margin-top: 10em;
}

._interaction-container {
  &::before {
    content: 'Interactive demo. Play with it!'
    background $accentColor
    padding: 2px 1em
    color $bgColor
    font-size 0.9em
  }

  & > * {
    border 1px solid $accentColor
  }
}

// Pagination
ul.pagination > li.disabled > a,
ul.pagination > li > a,
ul.pagination > li > span {
  background-color: $footerBgColor
}

// Footer

footer .copyright-item {
  font-weight 600;
  font-size .9em !important
}