// Theme colors
$accentColor = #4fbfff

$textColor = #E8F1F2
$darkTextColor = $textColor

$codeBgColor = #282c34

$bgColor = #333538;
$headerBgColor = #2b2b2b

$footerBgColor = $bgColor
// $footerColor = #A3CEF1
