// https://vuepress-theme-blog.ulivz.com/config/palette.html
$accentColor = #67c8ff
$bgColor = #333538;
$textColor = #eaeaea
$darkTextColor = #eaeaea
$headerBgColor = #222
$contentWidth = 860px
$footerColor = #eee