*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-size: calc(12px + .3vw);
}

@media screen and (max-width: 1000px) {
  html, body {
    font-size: 16px;
  }
}

body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background: #333538;
  color: #d4e5ec;
  padding-top: 5em;
}

h1 {
  margin: 1.5em;
}

p {
  margin: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul.links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 3rem;
}

li.link {
  flex: 0 1 6rem;
}

li.link a {
  display: inline-block;
  position: relative;
}

li.link img {
  width: 2.5rem;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

li.link span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

li.link:hover img {
  opacity: 0;
}

li.link:hover span {
  opacity: 1;
}
